.App {
  text-align: center;
}

body {
  font-family: averta !important;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.greenButton{
  background-color:  #27ae60 ;
  color:#fff;
}
.whiteButton{
  background-color: #fff;
}

.redButton {
  background-color: red ;
  color:#fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.text-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}


::-webkit-scrollbar {
  display: none; }


.bottom-navigation {
  /* display: flex; */
  height: 3rem;
  border-top: 1px solid rgba(34,36,38,.15);
  background: white;
  font-family: averta-light;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: grey;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.questions {
  color: black;
  display: inline-block;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  transition: background 0.8s;
}

.questions-active {
  background: #e9ebee;
  padding: 0.2rem 0.6rem;
  border-radius: 9rem;
}

.navigation-button {
  background: none;
  box-shadow: 0px 4px 10px 0px #00000049;
  transition: background 0.5s;
  color: mediumslateblue;
  border: 1px solid;
  font-size: 1.3em;
  border-radius: 3rem;
}

.navigation-button:active {
  transition: background 0.5s;
  transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none; }
  }


  .topics-container {
    transition: all 0.35s ease-in-out 0.2s; }
  .topics-container-hide {
    transform: translate(-150%, 0); }

  /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.selected-option {
  background-color: #2196F3 !important;
  display: block;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.selected-option:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.selected-option:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.active {
  color: black !important;
}